.unit1 {
    display: none;
    position: absolute;
    left: 96px;
    top: 115px;
}
.unit2 {
    display: none;
    position: absolute;
    left: 495px;
    top: 115px;
}
.textboxs {
    display: table;
    top: 155px;
    position: absolute;
}
.textbox {
    position: relative;
    text-align: center;
    width: 1280px;
    left:50%;
    transform:translateX(-50%);
}
.textbox span {
    font-size: 22px;
    display: block;
    font-weight: 500;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: nowrap;
    font-family: 'NotoSansCJKkr-Regular';
    color: white;
    text-shadow: 0px 2px 3px #12156d;
}

/* 페이지 위치에 따라서 */

/* .currentSceneNumber1{
    left: 563px;
    top : 0px;
}
.currentSceneNumber2{
    left: 563px;
    top : 41px;
}
.currentSceneNumber3{
    left: 563px;
    top : 41px;
}
.currentSceneNumber4{
    left: 563px;
    top : 41px;
}
.currentSceneNumber5{
    left: 563px;
    top : 41px;
}
.currentSceneNumber6{
    left: 563px;
    top : 41px;
}
.currentSceneNumber7{
    left: 563px;
    top : 41px;
}
.currentSceneNumber8{
    left: 563px;
    top : 41px;
}
.currentSceneNumber9{
    left: 563px;
    top : 41px;
}
.currentSceneNumber10{
    left: 563px;
    top : 41px;
}
.currentSceneNumber11{
    left: 563px;
    top : 41px;
} */