/************/
/* 퀴즈 css */
/************/

#resultBox {
  text-align: center;
  display: inline-block;
  width: 1280px;
  height: 720px;
  position: absolute;
  background: url(.././common/quizData/images/quiz_result_bg.png);
}
#resultBox .thankyou {
  display: inline-block;
  margin-top: 72px;
}
#resultBox .countBox {
  color: #fff;
  font-size: 30px;
  margin-top: 280px;
}
.resultView img{
  margin: 0;
}
#resultBox .countBox {
  color: #015779;
}
.totalYes{
  position: absolute;
  left: 438px;
  top: 233px;
  font-size: 30px;
  color: #d50a0a;
  font-weight: bold;
}
.reStartBtn{
  cursor: pointer;
    display: inline-block;
    margin-top: 130px;

}
.gogoBtn{
  cursor: pointer;
    display: none;
    margin-top: 22px;
    position: relative;
    top: 190px;
    right: 250px;
}
#resultBox .resultView{
  border-collapse: collapse;
  display: inline-block;
  margin-top: 42px;
  position: relative;
  top: 316px;
  left: 59px;
  width: 720px;
}
#resultBox .resultView td{
  width: 189px;
  height: 50px;
  color: #fff;
  font-size: 28px;
  line-height: 50px;
  vertical-align: middle;
}
#resultBox .resultView tr:nth-child(2) td{
  font-size: 0;
  line-height: 0;
}
#resultBox .resultView td img{
  display: inline-blcok;
  vertical-align: middle;
}
#resultBox .resultTxt{
  color: #000;
  font-size: 20px;
  margin-top: 48px;
}
#quizDiv {
  /* display: none; */
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.quizEq {
  display: none;
  width: 1280px;
  height: 720px;
  /* background: url(.././common/quizData/images/box.png) */
}
.quizEq1{
  display: block;
}


.titleO {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}
.titleX {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}

.quizTitleDiv{
  position: relative;
  left: 0;
  margin-top: 165px;
}

.quizTitleWarp {
  position: absolute;
  display: block;
  font-family: 'NanumGothic';
  font-size: 30px;
  width:1000px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 6px #12156d;
}
.quizaddtitle{
  word-break: keep-all;
  word-wrap: break-word;
  width: 1000px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 113px;
  font-size: 52px;
  font-weight: bold;
  font-family: 'NanumBarunGothic';
}
.quizTitle {
  position: absolute;
  display: block;
  font-family: 'NanumGothic';
  font-size: 30px;
  width:1000px;
  text-align: center;
  left: 50%;
  top:-50px;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 6px #12156d;
}

.titleBold {
  color: #ef4b46;
}
.quizContent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.quizCountNum{
  display: none;
  position : absolute;
  left : 283px;
  top : 266px;
  font-size: 48px;
  color: #5f3119;
  font-weight: bold;
}
.selectBox {
  display: inline-block;
  margin-left: 190px;
  margin-top: 30px;
}

.caps{
  position: absolute;
  right: 10px;
  top: -99px;
  display: none;
}
.checkBtn {
  position: absolute;
  right: 150px;
  top: 444px;
  width: 118px;
  height: 54px;
  cursor: pointer;
  background: url(.././common/quizData/images/check_btn.png) no-repeat;
  text-align: center;
  display: none;
  z-index: 1;
}

.nextQuizBtn {
  position: absolute;
  right: 150px;
  top: 444px;
  width: 118px;
  height: 54px;
  cursor: pointer;
  background: url(.././common/quizData/images/btn_next.png) no-repeat;
  text-align: center;
  display: none;
  z-index: 1;
}
.resultBtn {
  position: absolute;
  right: 150px;
  top: 444px;
  width: 118px;
  height: 54px;
  cursor: pointer;
  background: url(.././common/quizData/images/btn_result.png);
  text-align: center;
  display: none;
  z-index: 1;
}

.feedback {
  display: none;
  position: absolute;
  width: 1280px;
  height: 264px;
  bottom: 0px;
  left: 0px;
  background: url(.././common/quizData/images/quizBottomBox.png)
}
.feedback_line {
  display: none !important;
}
.quizEq .titleNum {
  display: inline-block;
  width: 116px;
  height: 108px;
  position: absolute;
  background-repeat: no-repeat;
  background-position-x: left;
  left: 40px;
  top: -57px;
}




/* 객관식 */
.selectBox > li {
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
}
.selectBox > li span {
  vertical-align: top;
}
.selectBox .selectNumIcon1 {
  display: inline-block;
  width: 36px;
  height: 30px;
  background: url(.././common/quizData/images/num1.png) no-repeat;
}

.selectBox .select_over1 {

  background: url(.././common/quizData/images/num1_over.png) no-repeat;
}

.selectBox .selectNumIcon2 {
  display: inline-block;
  width: 36px;
  height: 30px;
  background: url(.././common/quizData/images/num2.png) no-repeat;
}

.selectBox .select_over2 {

  background: url(.././common/quizData/images/num2_over.png) no-repeat;
}

.selectBox .selectNumIcon3 {
  display: inline-block;
  width: 36px;
  height: 30px;
  background: url(.././common/quizData/images/num3.png) no-repeat;
}

.selectBox .select_over3 {

  background: url(.././common/quizData/images/num3_over.png) no-repeat;
}

.selectBox .selectNumIcon4 {
  display: inline-block;
  width: 36px;
  height: 30px;
  background: url(.././common/quizData/images/num4.png) no-repeat;
}

.selectBox .select_over4 {

  background: url(.././common/quizData/images/num4_over.png) no-repeat;
}

.selectBox .selectNumIcon5 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(.././common/quizData/images/num5.png) no-repeat;
}
.selectBox > li:nth-child(1) .selectListTxt{
  max-width: 700px;
}
.selectBox .selectListTxt{
  display: inline-block;
  max-width: 640px;
  line-height: 28px;
  font-size: 22px;
  word-break: keep-all;
  word-wrap: break-word;
  margin-left: 6px;
  margin-top: -1px;
  font-weight: bold;
}
.selectBox .selectCheck {
  position: absolute;
  left: 7px;
  top: -5px;
  display: none;
}
.selectBox .answerCheck {
  position: absolute;
  left: -50px;
  top: -6px;
  display: none;
}
/* OX */
.oxBox {
  position: absolute;
  width: 1280px;
  text-align: center;
  top: 435px;
}
.checkImg {
  display: none;
  position: absolute;
  top: -35px;
  left: 554px;
}
.o_btn {
  display: inline-block;
  width: 208px;
  height: 208px;
  margin: 0 50px;
  background-image: url(../quizData/images/o_non.png);
  background-size: cover;
  cursor: pointer;
}
.x_btn {
  display: inline-block;
  width: 208px;
  height: 208px;
  margin: 0 50px;
  background-image: url(../quizData/images/x_non.png);
  background-size: cover;
  cursor: pointer;
}


.answer {
  position: absolute;
  left: 0px;
  top: 94px;
  width: 800px;
  height: 35px;
  background-image: url(../quizData/images/explain_1.png);
  background-repeat: no-repeat;
}
.answer > span {
  position: absolute;
  left: 110px;
  top: 0px;
  width: 95px;
  height: 85px;
  text-align: center;
  color: #ffe981;
  font-size: 26px;
  font-weight: bold;
}
.commentary {
  position: absolute;
  left: 0px;
  top: 140px;
  width: 850px;
  height: 154px;
  background-image: url(.././common/quizData/images/explain_2.png);
  background-repeat: no-repeat;
  overflow : auto;
}
.commentary > span {
  position: absolute;
  width: 699px;
  left: 148px;
  top: 5px;
  height: 70px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  word-break: keep-all;
  word-wrap: break-word;
}

.titleTopBox {
  position: absolute;
  left: 90px;
  top: 205px;
  width: 805px;
  /* background: url(.././common/quizData/images/quizTitleBox.png); */
  height: 4px;
  display: none;
}

.popupBox {
  display: none;
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(.././common/quizData/images/popup_box.png);
  padding-left: 230px;
  padding-top: 172px;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
}
.popupBox .popup_close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 1050px;
  top: 104px;
  background: url(.././common/quizData/images/popup_close.png);
}
.popupBox .popup_close:hover{
  background: url(.././common/quizData/images/popup_close_over.png);
}

.popupBox h2{
  position: relative;
  font-size: 20px;
  max-width: 830px;
}
.popupBox h2::before{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(.././common/organizeData/images/bullet2.png) no-repeat;
  position: absolute;
  top: 4px;
  left: -25px;
  background-position-y: 2px;
  margin-bottom: 10px;
}
.popupBox > p{
  width: 760px;
  font-size: 17px;
  
}
.popupBox > p > span:nth-child(1){
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}
.popupBox > p > span:nth-child(2){
  display: inline-block;
  vertical-align: top;
  width: 730px;
}

.popupBtn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 450px;
  top: 110px;
  width: 200px;
  height: 31px;
  background: url(.././common/quizData/images/popup_btn.png) no-repeat;
  display: none;
}

.popupBtn:hover {
  background: url(.././common/quizData/images/popup_btn_over.png) no-repeat;
}
.noAlert1 {
  display: none;
  width: 100%;
  height: 100%;
  background-image:url(.././common/quizData/images/box1.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.noAlert2 {
  display: none;
  width: 100%;
  height: 100%;
  background-image:url(.././common/quizData/images/box2.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.noAlert3 {
  display: none;
  width: 100%;
  height: 100%;
  background-image:url(.././common/quizData/images/box3.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.textcolor {
  color: #C00101;
}
.noAlert4 {
  display: none;
  width: 100%;
  height: 100%;
  background-image:url(.././common/quizData/images/box4.png);
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.quizStartBtn {
  display: none;
  position: absolute;
  left: 540px;
  top: 466px;
  z-index: 20;
  cursor: pointer;
}

.inputBox {
  position: absolute;
  top: 180px;
  width: 1000px;
  text-align: center;
}
.inputBox div{
  background-color: #fff;
  max-width: 800px;
  display: inline-block;
  text-align: left;
  border: 2px solid #000;
  padding: 10px 20px;
}
.inputBox input {
  width: 220px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 30px;
}