/*나눔고딕*/

@font-face {
     font-family: 'NanumGothic';
     src: url('https://dksl-static.edunet.net/fnt/NanumGothic.eot?#iefix') format('embedded-opentype'),   /*IE 6-8*/   
          url('https://dksl-static.edunet.net/fnt/NanumGothic.woff') format('woff'), /*표준 브라우저*/
          url('https://dksl-static.edunet.net/fnt/NanumGothic.ttf') format('truetype'),/*IE를 제외한 대부분의 브라우저*/
          url('https://dksl-static.edunet.net/fnt/NanumGothic.svg#nanum-barun-gothic-regular') format('svg');
 
     font-style: normal;
 
 }

 @font-face {
     font-family: 'NanumGothicBold';
     src: url('https://dksl-static.edunet.net/fnt/NanumGothicBold.eot?#iefix') format('embedded-opentype'),   /*IE 6-8*/   
          url('https://dksl-static.edunet.net/fnt/NanumGothicBold.woff') format('woff'), /*표준 브라우저*/
          url('https://dksl-static.edunet.net/fnt/NanumGothicBold.ttf') format('truetype'),/*IE를 제외한 대부분의 브라우저*/
          url('https://dksl-static.edunet.net/fnt/NanumGothicBold.svg#nanum-barun-gothic-regular') format('svg');
  
      font-style: normal;
 }
 
/*나눔 바른고딕*/
 
@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('https://dksl-static.edunet.net/fnt/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
         url('https://dksl-static.edunet.net/fnt/NanumBarunGothicUltraLight.woff') format('woff'),
         url('https://dksl-static.edunet.net/fnt/NanumBarunGothicUltraLight.ttf') format('truetype'),
         url('https://dksl-static.edunet.net/fnt/NanumBarunGothicUltraLight.svg#nanum-barun-gothic-regular') format('svg');
    font-style: normal;
}

@font-face {
     font-family: 'NanumBarunGothic';
     src: url('https://dksl-static.edunet.net/fnt/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothic.woff') format('woff'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothic.ttf') format('truetype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothic.svg#nanum-barun-gothic-regular') format('svg');
     font-style: normal;
 }

 @font-face {
     font-family: 'NanumBarunGothicBold';
     src: url('https://dksl-static.edunet.net/fnt/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicBold.woff') format('woff'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicBold.ttf') format('truetype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicBold.svg#nanum-barun-gothic-regular') format('svg');
     font-style: normal;
 }

 @font-face {
     font-family: 'NanumBarunGothicLight';
     src: url('https://dksl-static.edunet.net/fnt/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicLight.woff') format('woff'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicLight.ttf') format('truetype'),
          url('https://dksl-static.edunet.net/fnt/NanumBarunGothicLight.svg#nanum-barun-gothic-regular') format('svg');
     font-style: normal;
 }

 /*강원에듀올*/

@font-face {
     font-family: 'GangwonEduAllBold';
     src: url('https://dksl-static.edunet.net/fnt/GangwonEduAllBold.eot?#iefix') format('embedded-opentype'),   /*IE 6-8*/   
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllBold.woff') format('woff'), /*표준 브라우저*/
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllBold.ttf') format('truetype'),/*IE를 제외한 대부분의 브라우저*/
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllBold.svg#nanum-barun-gothic-regular') format('svg');
 
     font-style: normal;
 
 }

 @font-face {
     font-family: 'GangwonEduAllLight';
     src: url('https://dksl-static.edunet.net/fnt/GangwonEduAllLight.eot?#iefix') format('embedded-opentype'),   /*IE 6-8*/   
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllLight.woff') format('woff'), /*표준 브라우저*/
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllLight.ttf') format('truetype'),/*IE를 제외한 대부분의 브라우저*/
          url('https://dksl-static.edunet.net/fnt/GangwonEduAllLight.svg#nanum-barun-gothic-regular') format('svg');
          
          font-style: normal;
 }

  /*잘난체*/

@font-face {
     font-family: 'Jalnan';
     src: url('https://dksl-static.edunet.net/fnt/Jalnan.eot?#iefix') format('embedded-opentype'),   /*IE 6-8*/   
          url('https://dksl-static.edunet.net/fnt/Jalnan.woff') format('woff'), /*표준 브라우저*/
          url('https://dksl-static.edunet.net/fnt/Jalnan.ttf') format('truetype'),/*IE를 제외한 대부분의 브라우저*/
          url('https://dksl-static.edunet.net/fnt/Jalnan.svg#nanum-barun-gothic-regular') format('svg');
 
     font-style: normal;
 
 }